html
  head
    title='Team Meeting'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 welcome to Team meeting!!!
        p Click the button below to goto my favorite site...
        p 
          a.btn.btn-primary(href="https://www.ted.com") Podcast
        p